*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background: #fff;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #4dc1f4;
    padding: 14px 12%;
    transition: all .50s ease;
}

.logo{
    display:flex;
    align-items: center;
}

.logo span{
    color: #004aad;
}

header img{
    width: 40px;
}

header span{
    font-size: 1.1rem;
    font-weight: 600;
}

.navbar{
    display: flex;
}

.navbar a{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

.navbar a:hover{
    color: #0077ff;
}

.navbar a.active{
    color: #0077ff;
}

.main{
    display: flex;
    align-items: center;
}

.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: #004aad;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}

.user{
    display: flex;
    align-items: center;
}

.user i{
    color: #004aad;
    font-size: 28px;
    margin-right: 7px; 
}

.main a:hover{
    color: #4070f4;
}

#menu-icon{
    font-size: 35px;
    color: #4070f4;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }

    .navbar a{
        padding:5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px){
    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 29vh;
        background: #4dc1f4;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }

    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }

    .navbar a:hover{
        color: #4070f4;
    }

    .navbar a.active{
        color: #4070f4;
    }

    .navbar.open{
        right: 2%;
    }
}

main{
    padding-top: 80px;
}

.mapa{
    overflow:hidden;
    position:relative;
    height:50vh;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapa iframe{
    left:0;
    top:0;
    height:100%;
    width:100%; 
    position:absolute;
    border: 2px solid #333;
}
.input-box {
    position: relative;
    height: 76px;
    max-width: 900px;
    width: 100%;
    background: #fff;
    margin: 0 20px;
    margin-top: 500px;
    border-radius: 8px;
    border: .5px solid #333;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .input-box i,
  .input-box .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .input-box i {
    left: 20px;
    font-size: 30px;
    color: #707070;
  }
  .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
  }
  .input-box .button {
    right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
  }
  .input-box .button:active {
    transform: translateY(-50%) scale(0.98);
  }
  /* Responsive */
  @media screen and (max-width: 500px) {
    .input-box {
      height: 66px;
      margin: 0 8px;
    }
    .input-box i {
      left: 12px;
      font-size: 25px;
    }
    .input-box input {
      padding: 0 112px 0 50px;
    }
    .input-box .button {
      right: 12px;
      font-size: 14px;
      padding: 8px 18px;
    }
  }

  .xesque{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #cdf0ff;
    padding: 50px 50px;
    padding-bottom: 150px;
  }

  section{
    position: relative;  
    height: 450px;
    width: 1075px;
    display: flex;
    align-items: center;
  }
  
  .swiper{
    width: 950px;
  }
  
  .card{
    position: relative;
    background: #fff;
    border-radius: 20px;
    height: 400px;
    margin: 20px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .card::before{
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background: white;
    border-radius: 20px 20px 0 0;
  }
  
  .card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
  }
  
  section .card .image{
    height: 140px;
    width: 140px;
    border-radius: 20%;
    padding: 3px;
    background: #0077ff;
    margin-top: 30px;
  }
  
  section .card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20%;
    border: 3px solid #fff;
  }
  
  .card .media-icons{
    position: absolute;
    top: 12px;
    right: 95px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .card .media-icons i{
    color: #7d2ae8;
    opacity: 0.6;
    margin-top: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 10px;
  }
  
  .card .media-icons i:hover{
    opacity: 1;
  }
  
  .card .name-profession{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: black;
  } 
  
  .name-profession .name{
    font-size: 20px;
    font-weight: 600;
  }
  
  .name-profession .profession{
    font-size:15px;
    font-weight: 500;
  }
  
  .card .rating{
    display: flex;
    align-items: center;
    margin-top: 18px;
  }
  
  .card .rating i{
    font-size: 18px;
    margin: 0 2px;
    color: #0077ff;
  }
  
  .card .button{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .card .button button{
    background: #0077ff;
    outline: none;
    border: none;
    color: #fff;
    padding: 8px 22px;
    border-radius: 10px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .button button:hover{
    background: #0077ff;
  }
  
  .swiper-pagination{
    position: absolute;
    top: 450px;
  }
  
  .swiper-pagination-bullet{
    height: 7px;
    width: 26px;
    border-radius: 25px;
    background: white;
  }
  
  .swiper-button-next, .swiper-button-prev{
    opacity: 0.7;
    color: white;
    transition: all 0.3s ease;
  }
  .swiper-button-next:hover, .swiper-button-prev:hover{
    opacity: 1;
    color: white;
  }

.titulo{
    background: #cdf0ff;
    text-align: center;
    font-size: 2.4rem;
    padding-top: 40px;
    text-shadow: 1px 1px 1px #000000;
}

.titulo h3{
    color: #4070f4;
}

.faq{
    padding-bottom: 50px;
}  

  h2 {
    margin: 20px auto 30px;
    font-size: 38px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.5;
  }
  
  details {
    width: 75%;
    min-height: 5px;
    max-width: 700px;
    padding: 45px 70px 45px 45px;
    margin: 0 auto;
    position: relative;
    font-size: 22px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 15px;
    box-sizing: border-box;
    transition: all .3s;
  }
  
  details + details {
    margin-top: 20px;
  }
  
  details[open] {
    min-height: 50px;
    background-color: #f6f7f8;
    box-shadow: 2px 2px 20px rgba(0,0,0,.2);
  }
  
  details p {
    color: #96999d;
    font-weight: 300;
  }
  
  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
  }
  
  summary:focus {
    outline: none;
    
  }
  
  summary:focus::after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 0 5px #0077ff;
  }
  
  summary::-webkit-details-marker {
    display: none
  }
  
  .control-icon {
    fill: #0077ff;
    transition: .3s ease;
    pointer-events: none;
  }
  
  .control-icon-close {
    display: none;
  }
  
  details[open] .control-icon-close {
    display: initial;
    transition: .3s ease;
  }
  
  details[open] .control-icon-expand {
    display: none;
  }
  
  
footer p{
    padding:0;
    font-size: 0.8em;
    color: hsla(0, 50%, 100%, 0.35);
    margin: 1em 0;
    font-size: 1rem;
}
footer ul{
    list-style: none;
    display: flex;
    margin: 1em 0; 
}
footer ul li a{
    padding: 1em; 
    text-decoration: none;
    color: rgba(255, 255, 255, 0.904);
    transition: 100ms;
}
footer ul li a:hover{
    color: var(--primary);
}

footer{
    width: 100%;
    background: #4070f4;
    color: #fff; 
    display: grid;
    place-items: center;
    padding: 2em; 
    font-size: 1.2rem;
}

